// Custom mixins

// Breakpoints
@mixin breakpoint($point) {
  @if $point == lg-desktop {
    @media (min-width: $screen-lg-desktop) {
      @content;
    }
  }

  @else if $point == desktop {
    @media (min-width: $screen-desktop) {
      @content;
    }
  }

  @else if $point == tablet {
    @media (min-width: $screen-tablet) {
      @content;
    }
  }

  @else if $point == phone {
    @media (min-width: $screen-phone)  {
      @content;
    }
  }

  @else if $point == sm-phone {
    @media (min-width: $sm-phone)  {
      @content;
    }
  }
}

// Circle
@mixin circle($background-color: $brand-primary, $border-width: 0, $border-color: $brand-primary) {
  background-color: $background-color;
  border: $border-width $border-color solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

// Placeholder color
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
      color: $color;
  }
  &:-moz-placeholder {
      color: $color;
  }
  &::-moz-placeholder {
      color: $color;
  }
  &:-ms-input-placeholder {
      color: $color;
  }
}

// CSS3 Box shadow (http://www.w3schools.com/cssref/css3_pr_box-shadow.asp)
@mixin shadow($color, $blur, $horizontal: 0, $vertical: 0, $spread: 0, $inset: "") {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color #{$inset};
  -moz-box-shadow:    $horizontal $vertical $blur $spread $color #{$inset};
  box-shadow:         $horizontal $vertical $blur $spread $color #{$inset};
}

// CSS3 Rotate to given degrees (http://www.w3schools.com/cssref/css3_pr_transform-origin.asp)
@mixin rotate($angle, $origin: 50% 50% 0) {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(-100%) rotate(#{$angle}deg);
  -webkit-transform-origin: $origin;
  -moz-transform: translateX(-100%) rotate(#{$angle}deg);
  -moz-transform-origin: $origin;
  -o-transform: translateX(-100%) rotate(#{$angle}deg);
  -o-transform-origin: $origin;
  transform: translateX(-100%) rotate(#{$angle}deg);
  transform-origin: $origin;
}

// WAAT icon size
@mixin icon-size($size) {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;
}

// Use no-gutters mixin with make-row mixin to achieve grid without gutters.
@mixin no-gutters() {
  margin-right: 0;
  margin-left: 0;
  & > [class^="col-"],
  & > [class*=" col-"],
  & > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

// Reset element placed inside container back to full browser width.
@mixin full-width() {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
  @include breakpoint(tablet) {
    margin-left: -100%;
    margin-right: -100%;
  }
  & > * {
    margin-left: auto !important;
    margin-right: auto !important;
    @extend .container-fluid;
  }
}

// Set of rows where content of all collums is vertically centered.
@mixin middle-align() {
  display: table;

  & > * {
    display: table-row;

    & > * {
      display: table-cell;
      vertical-align: middle;
      &:not(:last-child) {
        padding-right: 30px;
      }
    }
  }
}

// Add triangle arrow to element with pseudoclasses.
@mixin arrow($border-color: $gray-light, $bg-color: #fff, $side: 'left', $direction: 'in', $size: 25px, $distance: 50px) {
  position: relative;

  &:before { z-index: $z-index-2; }
  &:after  { z-index: $z-index-1; }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
  }

  // Top side
  @if $side == 'top' {
    border-top: 1px solid $border-color;
    @if $direction == 'in' {
      // TODO: Top side in
    }
    @elseif $direction == 'out' {
      &:before {
        right: $distance;
        top: -$size + 1;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-bottom: $size solid $bg-color;
      }
      &:after {
        right: $distance - 1;
        top: -$size - 1;
        border-right: $size + 1 solid transparent;
        border-left: $size + 1 solid transparent;
        border-bottom: $size + 1 solid $border-color;
      }
    }
  }

  // Right side
  @if $side == 'right' {
    border-right: 1px solid $border-color;
    @if $direction == 'in' {
      &:before {
        top: $distance;
        right: -1px;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $bg-color;
      }
      &:after {
        top: $distance - 1;
        right: -1px;
        border-top: $size + 1 solid transparent;
        border-bottom: $size + 1 solid transparent;
        border-right: $size + 1 solid $border-color;
      }
    }
    @elseif $direction == 'out' {
      &:before {
        top: $distance;
        right: -$size + 1;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $bg-color;
      }
      &:after {
        top: $distance - 1;
        right: -$size - 1;
        border-top: $size + 1 solid transparent;
        border-bottom: $size + 1 solid transparent;
        border-left: $size + 1 solid $border-color;
      }
    }
  }

  // Bottom side
  @if $side == 'bottom' {
    border-bottom: 1px solid $border-color;
    @if $direction == 'in' {
      // TODO: Bottom side in
    }
    @elseif $direction == 'out' {
      &:before {
        right: $distance;
        bottom: -$size + 1;
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-top: $size solid $bg-color;
      }
      &:after {
        right: $distance - 1;
        bottom: -$size - 1;
        border-right: $size + 1 solid transparent;
        border-left: $size + 1 solid transparent;
        border-top: $size + 1 solid $border-color;
      }
    }
  }

  // Left side
  @if $side == 'left' {
    border-left: 1px solid $border-color;
    @if $direction == 'in' {
      &:before {
        top: $distance;
        left: -1px;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $bg-color;
      }
      &:after {
        top: $distance - 1;
        left: -1px;
        border-top: $size + 1 solid transparent;
        border-bottom: $size + 1 solid transparent;
        border-left: $size + 1 solid $border-color;
      }
    }
    @elseif $direction == 'out' {
      &:before {
        top: $distance;
        left: -$size + 1;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $bg-color;
      }
      &:after {
        top: $distance - 1;
        left: -$size - 1;
        border-top: $size + 1 solid transparent;
        border-bottom: $size + 1 solid transparent;
        border-right: $size + 1 solid $border-color;
      }
    }
  }
}
