//
// Bootstrap variables
// --------------------------------------------------

$gray-base:     #101c27;
$gray-light:    #D8D8D8;
$gray-lighter:  #F5F6F8;
$gray-lightest: #FAFAFA;
$almost-white:  #FDFDFD;

$azure:         #57c2f0;
$blue:          #205EA1;
$blue-dark:     #1E4289;
$blue-light:    #f6fafb;
$green:         #aac80a;
$green-2:       #00a651;
$green-dark:    #5a8228;
$brown:         #be6e14;
$orange:        #ff9100;
$green:         #aac80a;
$yellow:        #ffd429;

$brand-primary: $blue;
$brand-primary-dark: $blue-dark;
$brand-primary-light: $azure;
$brand-primary-lighter: $blue-light;
$brand-primary-gray: $gray-light;
$brand-success: #588930;

$logo-width-mobile: 172px;
$logo-width-desktop: 172px;
$logo-height-mobile: 118px;
$logo-height-desktop: 118px;
$logo-width-mobile-een: 113px;
$logo-width-desktop-een: 113px;
$logo-height-mobile-een: 105px;
$logo-height-desktop-een: 105px;

$font-family-serif:      'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
$font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-sans-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-large: 22px;
$font-size-small: 14px;

$headings-font-family: $font-family-serif;
$headings-font-weight: 400;

$font-size-h1:            48px;
$font-size-h2:            30px;
$font-size-h3:            20px;
$font-size-h4:            16px;

$font-weight: 300;
$text-color: $gray-base;

$line-height-computed: 26px;

$padding-small-vertical: 4px;

$btn-font-weight: 300;

$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$input-height-base: 30px;

$breadcrumb-color: #fff;
$breadcrumb-padding-vertical: 3px;

$table-border-color: $gray-light;
$table-cell-padding: $line-height-computed / 3;
$table-bg-header: $gray-lightest;
$table-bg-accent: $almost-white;

$modal-lg: 1024px;

$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../images/icons/") ;

$label-default-bg: $brand-primary-light;

//
// WAAT extras
// --------------------------------------------------

// WAAT icons
$waat-icons-font-path: '../images/icons/waat-icons';

// Additional XXS breakpoint
$screen-xs:                   480px;
$screen-xxs:                  0;
$screen-xxs-min:              $screen-xxs;
$sm-phone:                    $screen-xxs-min;
$screen-xxs-max:              ($screen-xs - 1);

// Listing component media element sizing
// Not neccesary if image styles are properly configured in backend
$listing-media-width-phone:   160px;
$listing-media-height-phone:  145px;
$listing-media-width-desktop: 270px;
$listing-media-height-desktop: 145px;

// Social links
$social-links-size: 50px;
$social-links-color: $brand-primary;

// Ornament
$ornament-default: $azure;

// Tabs
$tabs-active-background: $brand-primary-lighter;
$tabs-accent: $azure;

// Carousel
$carousel-caption-bg: $brand-primary;
$carousel-controls-color: $brand-primary;

// News carousel component variables.
$news-carousel-height: 400px;

// Panel group horizonta variables.
$panel-group-horizontal-height: 450px;
$panel-group-horizontal-body-width: 210px;
$panel-group-horizontal-bg: #fff;

// Z-index
$z-index-1: 100;
$z-index-2: 101;
$z-index-3: 103;
