// Section header-wrapper
// --------------------------------------------------
.section--header__wrapper {
  @extend .bg--1;
  padding-bottom: 45px;
  position: relative;
}

// Section header
// --------------------------------------------------
.section--header {
  @extend .bg--2;
  padding-top: 5px;
  overflow: visible;
}

// Section menu-bar
// --------------------------------------------------
.section--menu-bar {
  @extend .bg--2;
  padding: 10px 0 15px;
  @include shadow($gray-light, 2px);
  position: relative;
  z-index: $z-index-1;
}

// Section user-menu
// --------------------------------------------------
.section--user-menu {
  font-size: $font-size-small;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  .btn-link {
    color: $gray-base !important;
  }
}


// Section top left
// --------------------------------------------------
.section--top__left {
  padding-right: 60px;
  padding-bottom: 40px;
  @include arrow($gray-light, $blue-light, 'right', 'out', 20px, 60px);
}


// Section top main
// --------------------------------------------------
.section--top__main > div {
  padding-left: 50px;
  padding-bottom: 40px;
}

// Section odd
// --------------------------------------------------
.section--odd {
  padding: 40px 0;
  h2:not(.ornament) {
    @include arrow($gray-light, $blue-light, 'bottom','out', 10px, 30px);
  }
}

// Section even
// --------------------------------------------------
.section--even {
  @extend .bg--2;
  padding: 20px 0;
  h2:not(.ornament) {
    @include arrow($gray-light, #fff, 'bottom','out', 10px, 30px);
  }
}

// Section content
// --------------------------------------------------
.section--content__wrapper {
  padding:50px 0;
  @extend .section--odd;
}

// Section content addon
// --------------------------------------------------
.section--content-addon {
  margin: 40px -50px -40px !important;
  background-color: $gray-lighter;
  font-size: $font-size-small;
}
.section--content-addon__header {
  padding: 2px 30px;
  background-color: $almost-white;
  border-bottom: 1px solid $gray-light;
}
.section--content-addon__body {
  padding: 0 30px;
  overflow: hidden;
  .listing--separators {
    .listing__item {
        border-color: $gray-light !important;
    }
  }
}
.section--content-addon__footer {
  padding: 2px 0 0;
  overflow: hidden;
  background-color: $gray-light;
  .form-group {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
  }
}

// Section sidebar left
// --------------------------------------------------
.section--sidebar-first {
  padding-right: 60px;

  .views-exposed-form div.views-exposed-widget {
    padding: 20px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid $gray-light;
    }
  }

  .btn {
    width: 170px;
  }
  .nav-metro__station {
    background-color: $brand-primary-lighter !important;
  }
}

// Page content
// --------------------------------------------------
.page-content {
  margin-bottom: 40px;
}

// Section footer
// --------------------------------------------------
.section--footer {
  @extend .section--even;
  @include shadow($gray-light, 2px);
  font-size: $font-size-small;
  h3 {
    text-transform: uppercase;
  }
}

// Section post-footer
// --------------------------------------------------
.section--post-footer {
  height: 300px;
  padding-top: 35px;
  font-size: 14px;
}

// Reset element placed inside container back to full browser width
// --------------------------------------------------
.section--full-width {
  @include full-width();
}

// listing--side-title custom styling
// --------------------------------------------------
.listing--side-title .listing__label .btn-default {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
