// Listing blog
//
// Blog-like listing. Teasers becomes tiles with image and title. This modifier
// uses the same semantic as default, but footer serves here in a litte
// different way. It is visually appropriate to place pragraph into it. It looks
// fine in sidebar or 2-3 collumn layout.
//
// Markup: html/listing--blog.html
//
// .listing--2-col-layout - Blog style in 2-collumn layout
//
// Styleguide 4.listing.blog


// Component
// --------------------------------------------------
.listing--blog {
  .listing__item-media {
    max-width: none;
    width: 100%;
    img {
      width: 100%;
      height: auto
    }
  }
  .listing__item-text {
    padding: 20px;
    background-color: $gray-lighter;
    .listing__item-title {
      margin: 0;
      height: $line-height-computed * 1.5;
    }
  }
}
