<div class="article">
  <div class="article__header">
    <p>This is article's header with custom padding. Lorem ipsum dolor sit amet enim. </p>
  </div>
  <div class="article__media">
    <img src="http://placehold.it/270x145" />
  </div>
  <div class="article__body">
    <p>This is article's body that floats the image. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.</p>
  </div>
  <div class="article__footer">
    <p>This is article's footer with custom padding. It doesn't float the image even if there is not  enough body content. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor diam pede cursus vitae, ultricies eu, faucibus quis, porttitor eros cursus lectus, pellentesque eget, bibendum a, gravida ullamcorper quam. Nullam viverra consectetuer. </p>
  </div>
</div>
