<div class="box {{modifier_class}}">
  <div class="box__bg"><span class="icon icon--open-paper"></span></div>
  <p class="text-center">This is simple demo <strong>centered paragraph</strong></p>
  <p class="text-center"><a href="#" class="btn btn-default btn-sm">Learn more</a></p>
  <div class="box__media"><img src="http://placehold.it/580x50" /></div>
</div>
<div class="box {{modifier_class}}">
  <div class="box__bg"><span class="icon icon--umbrela"></span></div>
  <div class="middle-align">
    <div class="middle-align__row">
      <div class="middle-align__col"><big><strong>Middle align component</strong> is used here!</big></div>
      <div class="middle-align__col">
        <a href="#" class="btn btn-default btn-sm middle-align__media pull-right"><span class="icon icon--download"></span> Download</a>
      </div>
    </div>
  </div>
</div>
