<a class="btn btn-advanced btn-default {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Default
</a>
<a class="btn btn-advanced btn-primary {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Primary
</a>
<a class="btn btn-advanced btn-success {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Success
</a>
<a class="btn btn-advanced btn-info {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Info
</a>
<a class="btn btn-advanced btn-warning {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Warning
</a>
<a class="btn btn-advanced btn-danger {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Danger
</a>
<a class="btn btn-advanced btn-link {{modifier_class}}">
  <span class="btn-advanced__addon"><span class="icon icon--lock"></span></span>Link
</a>
