<div class="contact__map">
 <img alt="Google Map of Brussels, Rue Neerveld 107" src="http://maps.googleapis.com/maps/api/staticmap?center=Brussels,+Rue+Neerveld+107&amp;zoom=14&amp;scale=false&amp;size=370x266&amp;maptype=roadmap&amp;format=png&amp;visual_refresh=true&amp;markers=size:large%7Ccolor:red%7CBrussels,+Rue+Neerveld+107" />
</div>
<div class="contact {{modifier_class}}">
  <p class="contact__title contact__title--branded">EUREKA Secretariat contact details</p>
  <div class="contact__row">
    <div class="contact__icon-col">
      <div class="contact__icon">
        <span class="icon icon--buildings"></span>
      </div>
    </div>
    <div class="contact__text">
      <p class="contact__title"><strong>EUREKA Secretariat</strong></p>
      <p>
        Rue Neerveld 107<br />
        1200, Brussels<br />
        Belgium
      </p>
    </div>
  </div>
  <div class="contact__row">
    <div class="contact__icon-col">
      <div class="contact__icon">
        <span class="icon icon--envelope"></span>
      </div>
    </div>
    <div class="contact__text">
      <a href="#">info@eurekanetwork.org</a>
    </div>
  </div>
  <div class="contact__row">
    <div class="contact__icon-col">
      <div class="contact__icon">
        <span class="icon icon--phone"></span>
      </div>
    </div>
    <div class="contact__text">
      <p>
        tel. +32 2 777 09 50<br />
        fax. +32 2 770 74 95
      </p>
    </div>
  </div>
  <div class="contact__row">
    <div class="contact__icon-col">
      <div class="contact__icon">
        <span class="icon icon--link"></span>
      </div>
    </div>
    <div class="contact__text">
      <a href="#" target="_blank">example.com</a>
    </div>
  </div>
</div>
