<div class="section--header">


  <div class="section--header__top">
    <div class="container">

      <ul class="nav-horizontal nav-horizontal--condensed list-inline pull-right hidden-xs">
        <li class="first leaf nav-horizontal__item"><a href="#" title="" class="nav-horizontal__link">About this site</a></li>
        <li class="leaf nav-horizontal__item active"><a href="#" title="" class="nav-horizontal__link active">Legal notice</a></li>
        <li class="last leaf nav-horizontal__item active"><a href="#" title="" class="nav-horizontal__link active">Contact</a></li>
      </ul>

      <a href="http://www.europa.eu" class="section--header__logo pull-left" title="Home"></a>

      <section id="block-boxes-header-top-text" class="block block-boxes block-boxes-simple header-text header-text--top clearfix">
        <div id="boxes-box-header_top_text" class="boxes-box">
          <div class="boxes-box-content">European Job Days</div>
        </div>
      </section>

    </div>
  </div>


  <div class="section--header__bottom">
    <div class="container">
      <span class="pull-left">
        <section id="block-boxes-header-bottom-text" class="block block-boxes block-boxes-simple header-text header-text--bottom clearfix">
          <div id="boxes-box-header_bottom_text" class="boxes-box">
            <div class="boxes-box-content">Find your job in Europe</div>
          </div>
        </section>
      </span>
    </div>
  </div>


  <div class="section--header__breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/" class="">Home</a></li>
        <li class="active">Jobs</li>
      </ol>
    </div>
  </div>


</div>
