<ul class="featured">
  <li class="featured__item">
    <div class="featured__text">I am an R&D performing SME</div>
    <div class="featured__icon">
      <div class="featured__circle">
        <span class="icon icon--ok"></span>
      </div>
    </div>
  </li>
  <li class="featured__item">
    <div class="featured__text">I plan to develop an innovative new product, process or service</div>
    <div class="featured__icon">
      <div class="featured__circle">
        <span class="icon icon--ok"></span>
      </div>
    </div>
  </li>
  <li class="featured__item">
    <div class="featured__text">I want to gain access to new markets</div>
    <div class="featured__icon">
      <div class="featured__circle">
        <span class="icon icon--ok"></span>
      </div>
    </div>
  </li>
</ul>
