<div class="infobox alert alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="infobox__icon"><span class="icon icon--question-mark"></div>
  <div class="infobox__inner">
    <h3>Profile matching unavailable!</h3>
    <p>Long anouncement. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Lorem ipsum <a class="btn btn-default btn-xs">Register</a> or <a class="btn btn-default btn-xs">Log in</a>
  </div>
</div>
