<div class="listing listing--numbered">
  <article class="listing__item">
    <div class="listing__item-column-main">
      <div class="listing__item-text">
        <big><strong>Self-assessment type:</strong> Erasmus+ coordinators</big>
        <p><strong>Created:</strong> 11 march 2015</p>
      </div>
      <div class="listing__item-footer clearfix">
        <a href="#" class="btn btn-link btn-sm "><big><span class="icon icon--share"></span></big>Share my results</a>
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="actions">
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--eye"></span></big>View results</a>
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--download"></span></big>Download results</a>
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--bin"></span></big>Delete</a>
        </div>
      </div>
    </div>
  </article>

  <article class="listing__item">
    <div class="listing__item-column-main">
      <div class="listing__item-text">
        <big><strong>Self-assessment type:</strong> Erasmus+ coordinators</big>
        <p><strong>Created:</strong> 11 march 2015</p>
      </div>
      <div class="listing__item-footer clearfix">
        <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--share"></span></big>Share my results</a>
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="actions">
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--eye"></span></big>View results</a>
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--download"></span></big>Download results</a>
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--bin"></span></big>Delete</a>
        </div>
      </div>
    </div>
  </article>

  <article class="listing__item">
    <div class="listing__item-column-main">
      <div class="listing__item-text">
        <big><strong>Self-assessment type:</strong> Erasmus+ coordinators</big>
        <p><strong>Created:</strong> 11 march 2015</p>
      </div>
      <div class="listing__item-footer clearfix">
        <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--share"></span></big>Share my results</a>
        <div class="btn-toolbar pull-right" role="toolbar" aria-label="actions">
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--eye"></span></big>View results</a>
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--download"></span></big>Download results</a>
          <a href="#" class="btn btn-link btn-sm"><big><span class="icon icon--bin"></span></big>Delete</a>
        </div>
      </div>
    </div>
  </article>

</div>
