<div class="listing listing--notifications">
  <div class="listing__item listing__item--active">
    <div class="listing__item-row">
    <div class="listing__item-col">
        <h3 class="listing__item-title">Your have been invited to an interview for Web Developer job.</h3>
        <div class="listing__item-meta"><span class="label label-danger">NEW</span> 2 hours ago</div>
      </div>
      <div class="listing__item-col text-right">
        <a href="#">View invitation</a>
      </div>
      <div class="listing__item-col">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
  <div class="listing__item">
    <div class="listing__item-row">
    <div class="listing__item-col">
        <h3 class="listing__item-title">Your participation in <a href="#">Job Fair Malta</a> has been accepted.</h3>
        <div class="listing__item-meta">2 hours ago</div>
      </div>
      <div class="listing__item-col text-right">
        <a href="#">Go to event page</a>
      </div>
      <div class="listing__item-col">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
  <div class="listing__item listing__item--disabled">
    <div class="listing__item-row">
    <div class="listing__item-col">
        <h3 class="listing__item-title">Your have been invited to an interview for Web Developer job.</h3>
        <div class="listing__item-meta">2 hours ago</div>
      </div>
      <div class="listing__item-col text-right">
        <a href="#">View</a>
      </div>
      <div class="listing__item-col">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>
