<div class="listing listing--files listing--separators-dashed {{modifier_class}}">
  <div class="listing__label listing__label--small">
    <div class="listing__label-row">
      <h3 class="listing__label-col">Related documents <span>(5)</span></h3>
      <div class="listing__label-col">
        <a role="button" class="btn btn-default btn-sm pull-right" href="/calls-for-projects">Download all</a>
      </div>
    </div>
  </div>
  <article class="listing__item">
    <div class="listing__item-row">
      <div class="listing__item-col">
        <span class="icon icon--mime-pdf listing__icon"></span>
        <a class="listing__item-title" href="/images/png/ec-logo.png">Document to be downloaded</a>
      </div>
      <div class="listing__item-col">12/03/15, John Doe</div>
      <div class="listing__item-col">Version - 1.0</div>
      <div class="listing__item-col"><span class="label label-warning pull-right">Draft</laber></div>
    </div>
  </article>
  <article class="listing__item">
    <div class="listing__item-row">
      <div class="listing__item-col">
        <span class="icon icon--mime-pdf listing__icon"></span>
        <a class="listing__item-title" href="/images/png/ec-logo.png">Document to be downloaded</a>
      </div>
      <div class="listing__item-col">12/03/15, John Doe</div>
      <div class="listing__item-col">Version - 2.4.2</div>
      <div class="listing__item-col"><span class="label label-success pull-right">Ready</laber></div>
    </div>
  </article>
  <article class="listing__item">
    <div class="listing__item-row">
      <div class="listing__item-col">
        <span class="icon icon--mime-pdf listing__icon"></span>
        <a class="listing__item-title" href="/images/png/ec-logo.png">Document to be downloaded</a>
      </div>
      <div class="listing__item-col">12/03/15, John Doe</div>
      <div class="listing__item-col">Version - 1.0</div>
      <div class="listing__item-col"><span class="label label-success pull-right">Ready</laber></div>
    </div>
  </article>
</div>
