<div class="listing listing--middlealign {$modifiers}">
  <article class="listing__item">
    <div class="listing__item-row">
      <div class="listing__item-col">
        <div class="file">
          <a href="#"><span class="icon icon--mime-pdf"></span> Important documment</a>
        </div>
      </div>
      <div class="listing__item-col">12/03/15, John Doe</div>
      <div class="listing__item-col">Version - 1.0</div>
      <div class="listing__item-col"><span class="label label-warning pull-right">Draft</laber></div>
    </div>
  </article>
  <article class="listing__item">
    <div class="listing__item-row">
      <div class="listing__item-col">
        <div class="file">
          <a href="#"><span class="icon icon--mime-pdf"></span> Another important documment</a>
        </div>
      </div>
      <div class="listing__item-col">12/03/15, John Doe</div>
      <div class="listing__item-col">Version - 2.4.2</div>
      <div class="listing__item-col"><span class="label label-success pull-right">Ready</laber></div>
    </div>
  </article>
  <article class="listing__item">
    <div class="listing__item-row">
      <div class="listing__item-col">
        <div class="file">
          <a href="#"><span class="icon icon--mime-pdf"></span> Documment to download</a>
        </div>
      </div>
      <div class="listing__item-col">12/03/15, John Doe</div>
      <div class="listing__item-col">Version - 1.0</div>
      <div class="listing__item-col"><span class="label label-success pull-right">Ready</laber></div>
    </div>
  </article>
</div>
