<div class="listing listing--columns-three">
  <div class="listing__column">
    <article class="listing__item">
      <div class="listing__item-column-second">
        <img src="http://placehold.it/270x145" />
      </div>
      <div class="listing__item-column-main">
        <div class="listing__item-text">
          <span class="listing__item-meta">Creation date</span>
          <h3 class="listing__item-title">Featured article name</h3>
          <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
        <div class="listing__item-footer">
          <a href="#" class="btn btn-primary btn-xs pull-right">More information</a>
        </div>
      </div>
    </article>
    <article class="listing__item">
      <div class="listing__item-column-second">
        <img src="http://placehold.it/270x145" />
      </div>
      <div class="listing__item-column-main">
        <div class="listing__item-text">
          <span class="listing__item-meta">Creation date</span>
          <h3 class="listing__item-title">Featured article name</h3>
          <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="listing__item-footer">
          <a href="#" class="btn btn-primary btn-xs pull-right">More information</a>
        </div>
      </div>
    </article>
  </div>

  <div class="listing__column">
    <article class="listing__item">
      <div class="listing__item-column-second">
        <img src="http://placehold.it/270x145" />
      </div>
      <div class="listing__item-column-main">
        <div class="listing__item-text">
          <span class="listing__item-meta">Creation date</span>
          <h3 class="listing__item-title">Featured article name</h3>
          <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
        <div class="listing__item-footer">
          <a href="#" class="btn btn-primary btn-xs pull-right">More information</a>
        </div>
      </div>
    </article>
    <article class="listing__item">
      <div class="listing__item-column-second">
        <img src="http://placehold.it/270x145" />
      </div>
      <div class="listing__item-column-main">
        <div class="listing__item-text">
          <span class="listing__item-meta">Creation date</span>
          <h3 class="listing__item-title">Featured article name</h3>
          <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="listing__item-footer">
          <a href="#" class="btn btn-primary btn-xs pull-right">More information</a>
        </div>
      </div>
    </article>
  </div>

  <div class="listing__column">
    <article class="listing__item">
      <div class="listing__item-column-second">
        <img src="http://placehold.it/270x145" />
      </div>
      <div class="listing__item-column-main">
        <div class="listing__item-text">
          <span class="listing__item-meta">Creation date</span>
          <h3 class="listing__item-title">Featured article name</h3>
          <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
        <div class="listing__item-footer">
          <a href="#" class="btn btn-primary btn-xs pull-right">More information</a>
        </div>
      </div>
    </article>
    <article class="listing__item">
      <div class="listing__item-column-second">
        <img src="http://placehold.it/270x145" />
      </div>
      <div class="listing__item-column-main">
        <div class="listing__item-text">
          <span class="listing__item-meta">Creation date</span>
          <h3 class="listing__item-title">Featured article name</h3>
          <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="listing__item-footer">
          <a href="#" class="btn btn-primary btn-xs pull-right">More information</a>
        </div>
      </div>
    </article>
  </div>
</div>
