<ul class="nav-subway">
  <li class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__link">Latest partnering opportunities</a>
  </li>
  <li class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__link">Going international</a>
  </li>
  <li class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__link">Calls</a>
  </li>
  <li class="nav-subway__item">
    <div class="nav-subway__station"></div>
    <a href="#" class="nav-subway__link">Events</a>
  </li>
</ul>
