<ul class="nav-sectiontitles list-inline">
  <li class="nav-sectiontitles__item">
    <div class="ornament"></div>
    <a href="#" class="nav-sectiontitles__link">The network</a>
  </li>
  <li class="nav-sectiontitles__item">
    <div class="ornament"></div>
    <a href="#" class="nav-sectiontitles__link">Manage your contact</a>
  </li>
  <li class="nav-sectiontitles__item">
    <div class="ornament"></div>
    <a href="#" class="nav-sectiontitles__link">Promote the network</a>
  </li>
  <li class="nav-sectiontitles__item">
    <div class="ornament"></div>
    <a href="#" class="nav-sectiontitles__link">Help your clients</a>
  </li>
</ul>
