<ul class="nav-metro">
  <li class="nav-metro__item">
    <div class="nav-metro__station"></div>
    <a href="#" class="nav-metro__link">Latest partnering opportunities</a>
  </li>
  <li class="nav-metro__item">
    <div class="nav-metro__station"></div>
    <a href="#" class="nav-metro__link">Going international</a>
  </li>
  <li class="nav-metro__item">
    <div class="nav-metro__station"></div>
    <a href="#" class="nav-metro__link">Calls</a>
  </li>
  <li class="nav-metro__item">
    <div class="nav-metro__station"></div>
    <a href="#" class="nav-metro__link">Events</a>
  </li>
</ul>
