<ul class="nav-blocktitle list-inline">
  <li class="nav-blocktitle__item">
    <div class="ornament"></div>
    <a href="#" class="nav-blocktitle__link">The network</a>
  </li>
  <li class="nav-blocktitle__item">
    <div class="ornament"></div>
    <a href="#" class="nav-blocktitle__link">Manage your contact</a>
  </li>
  <li class="nav-blocktitle__item">
    <div class="ornament"></div>
    <a href="#" class="nav-blocktitle__link">Promote the network</a>
  </li>
  <li class="nav-blocktitle__item">
    <div class="ornament"></div>
    <a href="#" class="nav-blocktitle__link">Help your clients</a>
  </li>
</ul>
