<!-- Standard -->
<ul class="nav-horizontal {$modifiers}">
  <li class="nav-horizontal__item">
    <a href="#" class="nav-horizontal__link">
      <span class="icon icon--search"></span><br/>
      Search
    </a>
  </li>
  <li class="nav-horizontal__item">
    <a href="#" class="nav-horizontal__link">
      <span class="icon icon--envelope"></span><br/>
      Contact
    </a>
  </li>
  <li class="nav-horizontal__item">
    <a href="#" class="nav-horizontal__link">
      <span class="icon icon--question-mark"></span><br/>
      FAQ
    </a>
  </li>
</ul>
<!-- With icons -->
<ul class="nav-horizontal {$modifiers}">
  <li class="nav-horizontal__item">
    <a href="#" class="nav-horizontal__link">Sitemap</a>
  </li>
  <li class="nav-horizontal__item">
    <a href="#" class="nav-horizontal__link">Terms of use</a>
  </li>
  <li class="nav-horizontal__item">
    <a href="#" class="nav-horizontal__link">Jobs</a>
  </li>
</ul>
