<div id="newsCarousel" class="news-carousel carousel slide" data-ride="carousel">

  <ul class="news-carousel__list-group list-group">
    <li data-target="#newsCarousel" data-slide-to="0" class="news-carousel__list-group-item list-group-item active">
      <h4 class="news-carousel__list-group-label">Advanced Manufacturing Technologies</h4>
    </li>
    <li data-target="#newsCarousel" data-slide-to="1" class="news-carousel__list-group-item list-group-item">
      <h4 class="news-carousel__list-group-label">Guidebook on SME Internationalisation</h4>
    </li>
    <li data-target="#newsCarousel" data-slide-to="2" class="news-carousel__list-group-item list-group-item">
      <h4 class="news-carousel__list-group-label">Start your Network experience</h4>
    </li>
    <li data-target="#newsCarousel" data-slide-to="3" class="news-carousel__list-group-item list-group-item">
      <h4 class="news-carousel__list-group-label">Time for new business</h4>
    </li>
    <li data-target="#newsCarousel" data-slide-to="4" class="news-carousel__list-group-item list-group-item">
      <h4 class="news-carousel__list-group-label">Practical information for participants in Imp3rove ...</h4>
    </li>
    <div class="news-carousel__show-all">
      <a href="#" class="btn btn-default btn-block">Show all news</a>
    </div>
  </ul>

  <!-- Wrapper for slides -->
  <div class="news-carousel__inner-wrapper">
    <div class="carousel__inner carousel-inner">

      <div class="news-carousel__item item active">
         <div class="news-carousel__item-row">
          <div class="news-carousel__item-text">
            <h2 class="news-carousel__item-title">
              <div class="ornament ornament--white"></div>
              <a href="#">Advanced Manufacturing Technologies</a>
            </h2>
            <p>The first training for new colleagues of the Enterprise Europe Network, will take place on 10 and 11 March 2015 in Brussels.</p>
            <p class="clearfix">
              <small class="pull-left"><strong>Type:</strong> Training</small>
              <small class="pull-right"><strong>Published:</strong> 11.12.2014</small>
            </p>
            <p class="text-right"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
          </div>
          <div class="news-carousel__item-media">
            <img class="img-responsive" src="http://placehold.it/370x400" />
          </div>
        </div>
      </div><!-- End Item -->

      <div class="news-carousel__item item">
         <div class="news-carousel__item-row">
          <div class="news-carousel__item-text">
            <h2 class="news-carousel__item-title">
              <div class="ornament ornament--white"></div>
              <a href="#">Guidebook on SME Internationalisation</a>
            </h2>
            <p>The first training for new colleagues of the Enterprise Europe Network, will take place on 10 and 11 March 2015 in Brussels.</p>
            <p class="clearfix">
              <small class="pull-left"><strong>Type:</strong> Training</small>
              <small class="pull-right"><strong>Published:</strong> 11.12.2014</small>
            </p>
            <p class="text-right"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
          </div>
          <div class="news-carousel__item-media">
            <img class="img-responsive" src="http://placehold.it/370x400" />
          </div>
        </div>
      </div><!-- End Item -->

      <div class="news-carousel__item item">
         <div class="news-carousel__item-row">
          <div class="news-carousel__item-text">
            <h2 class="news-carousel__item-title">
              <div class="ornament ornament--white"></div>
              <a href="#">Start your Network experience</a>
            </h2>
            <p>The first training for new colleagues of the Enterprise Europe Network, will take place on 10 and 11 March 2015 in Brussels.</p>
            <p class="clearfix">
              <small class="pull-left"><strong>Type:</strong> Training</small>
              <small class="pull-right"><strong>Published:</strong> 11.12.2014</small>
            </p>
            <p class="text-right"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
          </div>
          <div class="news-carousel__item-media">
            <img class="img-responsive" src="http://placehold.it/370x400" />
          </div>
        </div>
      </div><!-- End Item -->

      <div class="news-carousel__item item">
         <div class="news-carousel__item-row">
          <div class="news-carousel__item-text">
            <h2 class="news-carousel__item-title">
              <div class="ornament ornament--white"></div>
              <a href="#">Time for new business</a>
            </h2>
            <p>The first training for new colleagues of the Enterprise Europe Network, will take place on 10 and 11 March 2015 in Brussels.</p>
            <p class="clearfix">
              <small class="pull-left"><strong>Type:</strong> Training</small>
              <small class="pull-right"><strong>Published:</strong> 11.12.2014</small>
            </p>
            <p class="text-right"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
          </div>
          <div class="news-carousel__item-media">
            <img class="img-responsive" src="http://placehold.it/370x400" />
          </div>
        </div>
      </div><!-- End Item -->

      <div class="news-carousel__item item">
         <div class="news-carousel__item-row">
          <div class="news-carousel__item-text">
            <h2 class="news-carousel__item-title">
              <div class="ornament ornament--white"></div>
              <a href="#">Practical information for participants in Imp3rove ...</a>
            </h2>
            <p>The first training for new colleagues of the Enterprise Europe Network, will take place on 10 and 11 March 2015 in Brussels.</p>
            <p class="clearfix">
              <small class="pull-left"><strong>Type:</strong> Training</small>
              <small class="pull-right"><strong>Published:</strong> 11.12.2014</small>
            </p>
            <p class="text-right"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
          </div>
          <div class="news-carousel__item-media">
            <img class="img-responsive" src="http://placehold.it/370x400" />
          </div>
        </div>
      </div><!-- End Item -->

    </div><!-- End Carousel Inner -->
  </div>

  <!-- Controls -->
  <div class="news-carousel__controls carousel-controls">
    <a class="news-carousel__controls-left left" href="#newsCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="news-carousel__controls-right right" href="#newsCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

</div><!-- End Carousel -->

<script src="../../js/components/news-carousel/news-carousel.js"></script>
