<div class="side-menu__wrap">
  <div class="side-menu">
    <div class="side-menu__scrollbar-hider">
      <h2 class="side-menu__title">
        <span id="close-button" class="side-menu__close">X</span>Navigation
      </h2>
      <h3 class="side-menu__nav-title">Projects</h3>
      <ul class="side-menu_nav">
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">Project search</a></li>
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">Calls for projects</a></li>
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">Success Stories</a></li>
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">E! Label</a></li>
      </ul>
      <h3 class="side-menu__nav-title">Newsroom</h3>
      <ul class="side-menu_nav">
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">News</a></li>
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">Events</a></li>
        <li class="side-menu_nav-item"><a href="#" class="side-menu_nav-link">Publications</a></li>
      </ul>
    </div>
  </div>
  <div id="open-button" class="side-menu__button"><span class="icon icon--menu"></span></div>
  <div class="side-menu__content-wrap">
    <div class="side-menu__content">
      IMPORTANT. You have to pull whole site content into this div!
    </div>
  </div>
</div>
<script src="../../js/components/side-menu/classie.js"></script>
<script src="../../js/components/side-menu/init-example.js"></script>
