<div class="timeline">
  <div class="timeline__legend">
    <div class="timeline__legend-time"><span class="label label-default">Time: UTC+1</span></div>
    <div class="timeline__legend-text"><span class="label label-default">Presentation name</span></div>
  </div>
  <div class="timeline__item timeline__item--past">
    <div class="timeline__time">09:30 - 10:00</div>
    <div class="timeline__text">
      <div class="timeline__description">
        <h3 class="timeline__title">YOUR FIRST EURES JOB 4.0</h3>
        <p>Dario Manna - Project Coordinator Città Metropolitana di Roma Capitale - Capitale Lavoro Spa</p>
        <a href="#" class="btn btn-default btn-xs">Download presentation</a>
      </div>
    </div>
  </div>
  <div class="timeline__item timeline__item--now">
    <div class="timeline__time">09:30 - 10:00</div>
    <div class="timeline__text">
      <div class="timeline__description">
        <h3 class="timeline__title">Il curriculum vitae in Inglese <span class="label label-default">Now</span></h3>
        <p>Stefano Piergiovanni - Viviallestero.com</p>
      </div>
    </div>
  </div>
  <div class="timeline__item">
    <div class="timeline__time">10:00 - 10:30</div>
    <div class="timeline__text">
      <div class="timeline__description">
        <h3 class="timeline__title">Vivre et Travailler en France</h3>
        <p>Eures Advisor France (from IoLavoro Torino)</p>
      </div>
    </div>
  </div>
  <div class="timeline__item">
    <div class="timeline__time">10:30 - 11:00</div>
    <div class="timeline__text">
      <div class="timeline__description">
        <h3 class="timeline__title">Il Cv e la lettera di presentazione in Francese</h3>
        <p>Lucia Ponsetti - Eures Advisor Valle D'Aosta</p>
        <a href="#" class="btn btn-default btn-xs">Download presentation</a>
      </div>
    </div>
  </div>
</div>
