@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../images/fonts/glyphicons-halflings-regular.eot");
  src: url("../images/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../images/fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../images/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../images/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../images/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@font-face {
  font-family: 'WAAT Icons';
  src: url("../images/fonts/waat-icons.eot");
  src: url("../images/fonts/waat-icons.eot?#iefix") format("embedded-opentype"), url("../images/fonts/waat-icons.woff") format("woff"), url("../images/fonts/waat-icons.ttf") format("truetype"), url("../images/fonts/waat-icons.svg#icomoon") format("svg");
}