<div class="section--footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <h3>Enterprise<br /> Europe Network:</h3>
        <ul class="nav-metro">
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Find your local contact point</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">About Enterprise Europe Network</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Sector groups</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">News & Media</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>Quick<br /> links:</h3>
        <ul class="nav-metro">
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Latest partnering opportunities</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Going international</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Calls</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Events</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>More EU Business<br /> resources:</h3>
        <ul class="nav-metro">
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Your Europe Business</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">SME Internationalisation Portal</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">Small Business Portal</a>
          </li>
          <li class="nav-metro__item">
            <div class="nav-metro__station"></div>
            <a href="#" class="nav-metro__link">European IPR Helpdesk</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-3">
        <h3>Newsletter:</h3>
        <p>Subscribe to our newsletters. You are currently not subscribing to any newsletters. <a href="#">Read more about our newsletters!</a></p>
        <form class="form-inline">
          <p>
            <div class="checkbox">
              <label>
                <input type="checkbox"> NetWorthe
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> NetLife
              </label>
            </div>
          </p>
          <button type="submit" class="btn btn-block btn-default">Subscribe / Unsubscribe</button>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="section--post-footer container">
  <div class="row">
    <div class="col-sm-6">
      Copyright or brand information
    </div>
    <div class="col-sm-6">
      <div class="middle-align pull-right">
        <div class="middle-align__row">
          <div class="middle-align__col"><p>Follow as at</p></div>
          <div class="middle-align__col">
            <ul class="social-links list-inline">
              <li class="social-links__item"><span class="icon icon--fb"></span></li>
              <li class="social-links__item"><span class="icon icon--twitter"></span></li>
              <li class="social-links__item"><span class="icon icon--linkedin"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
