<div class="section--header__wrapper">
  <div class="section--header">
    <div class="container">

      <div class="lang-switch dropdown pull-right">
        <a class="lang-switch__button" id="lang" data-toggle="dropdown" aria-expanded="true">
          English (en)
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="lang">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Polish</a></li>
        </ul>
      </div>

      <ul class="nav-horizontal nav-horizontal--condensed list-inline pull-right">
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">A to Z</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">About this site</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">Contact</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">FAQ</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">Sitemap</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">Search</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">Legal notice</a>
        </li>
        <li class="nav-horizontal__item">
          <a href="#" class="nav-horizontal__link">Contact</a>
        </li>
      </ul>

      <div class="container-fluid">
        <a href="link-to-homepage" class="logo pull-left" title="Home"></a>
        <span class="slogan pull-left">Enterprise Europe Network</span>
      </div>
    </div>
  </div>
</div>

<div class="bg bg--3">
  <div class="container">
    <ol class="simple-breadcrumb">
      <li class="simple-breadcrumb__item"><a class="simple-breadcrumb__link" href="#">European Commission</a></li>
      <li class="simple-breadcrumb__item"><a class="simple-breadcrumb__link" href="#">Enterprise Europe Network</a></li>
      <li class="simple-breadcrumb__item is-active">Home</li>
    </ol>
  </div>
</div>
