<div class="view-grouping">
 <div class="view-grouping-header">General</div>
 <div class="view-grouping-content">
   <fieldset class="views-fieldset collapsed">
     <legend>
       <a class="fieldset-title" href="#">
         <span class="icon icon--add"></span>
         <span class="title">What is EUREKA?</span>
       </a>
     <legend>
   </fieldset>
   <fieldset class="views-fieldset">
     <legend>
       <a class="fieldset-title" href="#">
         <span class="icon icon--add"></span>
         <span class="title">What does EUREKA do?</span>
       </a>
     </legend>
     <div class="fieldset-wrapper">
       <div class="views-field-body">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nunc efficitur, malesuada ligula eu, feugiat ante. Ut quis eleifend est.</p>
         <p>Praesent pellentesque, dui ut auctor euismod, nisi tellus vehicula orci, in tempus nulla mi id orci. Integer id feugiat metus. Sed ac pellentesque nibh.</p>
       </div>
       <div class="top eureka-top">
         <a href="#main-content">Back to top</a>
       </div>
      </div>
   </fieldset>
 </div>
</div>
