<div class="listing listing--stream">
  <div class="listing__label">
    <div class="listing__label-row">
      <div class="listing__label-col">Blog</div>
      <div class="listing__label-col">
        <a role="button" class="btn btn-default btn-sm pull-right" href="/calls-for-projects">Read more</a>
      </div>
    </div>
  </div>
  <div class="listing__header">
    <p>Additional description paragraph above listing items.</p>
  </div>
  <article class="listing__item">
    <div class="listing__item-media">
      <img src="http://placehold.it/250x100" />
    </div>
    <div class="listing__item-text">
      <h3 class="listing__item-title">Featured blog entry name</h3>
    </div>
    <div class="listing__item-footer">
      <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
    </div>
  </article>
  <article class="listing__item">
    <div class="listing__item-media">
      <img src="http://placehold.it/250x100" />
    </div>
    <div class="listing__item-text">
      <h3 class="listing__item-title">Featured blog entry name</h3>
    </div>
    <div class="listing__item-footer">
      <p>Teaser text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
    </div>
  </article>
</div>
