<ul class="nav-tiles {{modifier_class}}">
  <li class="nav-tiles__item">
    <a class="nav-tiles__link" href="#">
      <div class="nav-tiles__icon-collumn">
        <div class="nav-tiles__icon-wrapper">
          <span class="icon icon--scope"></span>
        </div>
      </div>
      <div class="nav-tiles__label-collumn">
        <div class="nav-tiles__label">First item</div>
      </div>
    </a>
  </li>
  <li class="nav-tiles__item">
    <a class="nav-tiles__link" href="#">
      <div class="nav-tiles__icon-collumn">
        <div class="nav-tiles__icon-wrapper">
          <span class="icon icon--star"></span>
        </div>
      </div>
      <div class="nav-tiles__label-collumn">
        <div class="nav-tiles__label">Second item</div>
      </div>
    </a>
  </li>
</ul>
