<ul class="nav-arrowbox">
  <li class="nav-arrowbox__item">
    <a href="#" class="nav-arrowbox__link">
      <div class="nav-arrowbox__icon">
        <span class="icon icon--ok"></span>
      </div>
      <div class="nav-arrowbox__label">Network directory</div>
      <div class="nav-arrowbox__bg">
        <span class="icon icon--arrow-next"></span>
      </div>
    </a>
  </li>
  <li class="nav-arrowbox__item">
    <a href="#" class="nav-arrowbox__link">
      <div class="nav-arrowbox__icon">
        <span class="icon icon--ok"></span>
      </div>
      <div class="nav-arrowbox__label">Network library</div>
      <div class="nav-arrowbox__bg">
        <span class="icon icon--arrow-next"></span>
      </div>
    </a>
  </li>
</ul>
