<div class="single-page">
  <div class="single-page__header">
    <p>This is the content of full width header</p>
  </div>
  <div class="single-page__media">
    <img src="http://placehold.it/270x145" />
  </div>
  <div class="single-page__body">
    <p>This is the content of body floating the image. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div class="single-page__footer">
    <p>This is the content of full width header</p>
  </div>
</div>
