<div role="tabpanel">
  <ul class="nav nav-tabs tabs" role="tablist">
    <li role="presentation" class="tabs__tab active">
      <a href="#news" role="tab" data-toggle="tab" aria-controls="news" class="tabs__tab-link">News</a>
    </li>
    <li role="presentation" class="tabs__tab">
      <a href="#events" role="tab" data-toggle="tab" aria-controls="events" class="tabs__tab-link">Events</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="news">
      <p>First tab content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="events">
      <p>Second tab content. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
