<header class="section--header">
  <div class="container">
    <a href="/" class="logo pull-left" title="Home"></a>
    <ul class="nav-horizontal pull-right">
      <li class="nav-horizontal__item">
        <a href="#" class="nav-horizontal__link">Home</a>
      </li>
      <li class="nav-horizontal__item">
        <a href="#" class="nav-horizontal__link">About</a>
      </li>
      <li class="nav-horizontal__item">
        <a href="#" class="nav-horizontal__link">Contact</a>
      </li>
    </ul>
  </div>
</header>
