<div class="section--menu-bar">
  <div class="container">
    <div class="clearfix">
      <a href="link-to-homepage" class="logo logo--een pull-left" title="Home"></a>

      <div class="clearfix pull-right">
        <div class="clearfix">
          <div class="section--user-menu middle-align pull-right">
              <div class="middle-align__row middle-align--condensed">
              <div class="middle-align__col">
                <a href="/" class="btn btn-link btn-sm"><span class="icon icon--arrows"></span> Public page</a>
              </div>
              <div class="middle-align__col">
                <img class="middle-align__media" src="http://placehold.it/37x37" />
              </div>
              <div class="middle-align__col">
                <div class="dropdown">
                  <button class="btn btn-link btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    D. Lepers
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
              <div class="middle-align__col">
                <div class="input-inner-addon__wrapper">
                  <input type="text" class="form-control input-sm" placeholder="Search">
                  <span class="input-inner-addon">
                    <span class="icon icon--search"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section--primary-menu">
          <ul class="nav-blocktitle pull-right">
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--azure"></div>
              <a href="#" class="nav-blocktitle__link">The network</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--gray-light"></div>
              <a href="#" class="nav-blocktitle__link">Manage your contact</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--gray-lighter"></div>
              <a href="#" class="nav-blocktitle__link">Promote the network</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--brown"></div>
              <a href="#" class="nav-blocktitle__link">Help your clients</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--green"></div>
              <a href="#" class="nav-blocktitle__link">Share your know-how</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--green-dark"></div>
              <a href="#" class="nav-blocktitle__link">Events & training</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="ornament ornament--orange"></div>
              <a href="#" class="nav-blocktitle__link">Partnering opportunities</a>
            </li>
            <li class="nav-blocktitle__item">
              <div class="dropdown">
                <div class="ornament ornament--blue"></div>
                <a href="#" class="nav-blocktitle__link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Network forums</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <ul>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
