// Field extra
//
// Set of visual improvements of the fields. CSS of this component has own
// markup, but works well also with html field markup rendered by Drupal. Usage:
// Just add modifier class to given field using DS field extras.
//
// Markup: html/field-extra.html
//
// .field-extra--inline-label - Label at the left hand, content at the right or below on phones
// .field-extra--separator    - Dashed separator below the element
//
// Styleguide field.field-extra

// Component
// --------------------------------------------------
.field-extra {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $brand-primary-gray;
}

.field-extra__label {
}

.field-extra__items {
}

// Modifiers
// --------------------------------------------------
.field-extra--inline-label {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;

  & > .field-extra__label,
  .field-label,
  & > label {
  }
  & > .field-extra__items,
  & > .field-items, {
    padding-top: 5px;
  }
  @include breakpoint(phone) {
    @include make-row();
    margin: 0 0 20px;
    & > .field-extra__label,
    .field-label,
    & > label {
      border-right: 1px solid $brand-primary-gray;
      text-align: right;
      @include make-xs-column(4);
    }
    & > .field-extra__items,
    & > .field-items, {
      padding-top: 0;
      padding-left: 25px !important;
      @include make-xs-column(8);
    }
  }
}

.field-extra--no-separator {
  border-bottom: none;
  margin-bottom: 0;
}
