// Icon cirle
//
// Icon inside a circular wrapper
//
// Markup: html/icon-circle.html
//
// Styleguide icon.icon-circle


// Component
// --------------------------------------------------
.icon-circle {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  @include circle(transparent, 3px);
}


// Dependencies
// --------------------------------------------------
.icon-circle .icon {
  position: absolute;
  margin: -40px;
  top: 50%;
  left: 50%;
  @include icon-size(80px);
}
