// Profile image
//
// Profile image that originaly appears on the user profile page
//
// Markup: html/img-profile.html
//
// Styleguide img.img-profile


// Component
// --------------------------------------------------
.img-profile {
  border-top: 5px solid $olive;
  max-width: 120px;
  img {
    width: 100%;
  }
}


// States
// --------------------------------------------------
.img-profile.inactive {
  border-color: $yellow;
  @include opacity(0.5);
}
