// Listing numbered
//
// Listing with big full height numbers at the left.
//
// Markup: html/listing--numbered.html
//
// .listing--condensed - Layout for single row, simple listings
//
// Styleguide listing.numbered


// Component
// --------------------------------------------------
.listing--numbered {
  counter-reset: listing--numbered;
  .listing__item {
    @include arrow($gray-light, #fff, 'left', 'in', 10px, 50px);
    margin: 35px 0 15px 80px;
    padding-top: 0;
    position: relative;
    overflow: visible;
  }
  .listing__item-text {
    padding-left: 55px;
    margin-bottom: $line-height-computed;
    &:before {
      position: absolute;
      left: -80px;
      top: 50%;
      width: 80px;
      height: 60px;
      margin: -30px 0;
      text-align: center;
      font-size: $font-size-h1 * 4/5;
    	content: counter(listing--numbered);
    	counter-increment: listing--numbered;
    }
    p:not(:last-child) {
      margin-bottom: $line-height-computed / 2;
    }
  }
  .listing__item-title {
    margin-bottom: $line-height-computed / 2;
    font-size: $font-size-h3 + 3;
  }
  .listing__item-footer {
    background-color: $gray-lightest;
    padding: 0 10px 0 35px;
    a, button {
      color: $brand-primary;
    }
  }
}


// Modifiers
// --------------------------------------------------
.listing--numbered.listing--condensed {
  .listing__item {
    @include arrow($gray-light, #fff, 'left', 'in', 5px, 10px);
    padding: 5px 10px 5px 0;
    margin: 5px 0 5px 30px;
  }
  .listing__item-text {
    padding-left: 30px;
    margin-bottom: 0;
    &:before {
      left: -30px;
      width: 30px;
      height: 20px;
      margin: -20px 0;
      font-size: $font-size-large;
      text-align: left;
    }
  }
}
