// Listing stream
//
// Social media stream. This modifier uses the same semantic as default, but
// elements are used a little other way.
//
// Markup: html/listing--stream.html
//
// Styleguide listing.stream


// Component
// --------------------------------------------------
.listing--stream {
  .listing__item-text {
  }
  .listing__item-title {
    margin: 0;
    a {
      color: $link-color;
    }
  }
  .listing__item-footer {
    font-size: $font-size-small;
    line-height: $line-height-computed * 0.75;
  }
}
