// Listing middle align
//
// Miminalisting listing with vertically centered collumns. It's primary purpose is to list files.
//
// Markup: html/listing--middlealign.html
//
// Styleguide listing.middlealign


// Component
// --------------------------------------------------
.listing--middlealign {
  font-size: $font-size-small;
  .listing__item {
    padding: 20px 0;
    width: 100%;
    @include middle-align();
    &:first-child {
      padding-top: 0;
    }

    .listing__item-row {
      // Row settings inherit from mixin
    }
    .listing__item-col {
      // Col settings inherit from mixin
      &:nth-of-type(2) {
        min-width: 25%;
      }
      &:nth-of-type(3) {
        min-width: 20%;
      }
      &:nth-of-type(4) {
        min-width: 10%;
      }
    }
  }
}

// Dependencies
// --------------------------------------------------
.listing--middlealign .icon {
  font-size: $font-size-h1;
  top: $font-size-base;
}
