// Listing
//
// Default, universal type of listings called Article listing. A list of articles including teaser image, title, short description, meta data and footer. Listings might have own header or header with read more button optionally. Read more about .title-more component.
//
// Markup: html/listing.html
//
// .listing--phone-media-hidding   - Hide media on phone devices (change window width to see the effects)
// .listing--phone-media-above     - Move media above the text on phone devices
// .listing--tablet-media-above    - Move media above the text on tablet devices
// .listing--separators            - Border separator between every entry
// .listing--separators-dashed     - Dashed border separator between every entry
// .listing--condensed             - Condended spacings between each items
// .listing--condensed-lineheight  - Condended line height of text
// .listing--2-col-layout          - Two collumn layout
// .listing--3-col-layout          - Three collumn layout
// .listing--image-corner-radius   - Create border radius for bottom left corner of the media
// .listing--tabs-spacer           - Moves the whole listing up to correspond with tabs component above
// .listing--side-title            - Listing label at the left
//
// Styleguide listing


// Component
// --------------------------------------------------
.listing {
  margin-bottom: $line-height-computed;
}


// Elements
// --------------------------------------------------
.listing__item,
.listing__pagination {
  overflow: hidden;
  padding-top: 30px;
  p {
    margin: 0;
    text-align: justify;
  }
}

.listing__item-media {
  float: left;
  margin-right: 30px;
  max-width: $listing-media-width-phone;
  // max-height: $listing-media-height-phone;
  overflow: hidden;

  .listing__item-media-icon {
    width: 40px;
    height: 40px;
    background-color: $gray-lightest;
    text-align: center;
    .icon {
      @include icon-size(40px);
      margin-top: -6px;
    }
  }
}

.listing__item-text {
  overflow: hidden;
}

.listing__item-title {
  margin: 0 0 $line-height-computed / 3;
  font-size: $font-size-base;
  font-weight: 400;
  text-transform: none;
  a {
    color: $gray-base;
  }
  h2, h3 {
    margin: 0 !important;
  }
}

.listing__item-meta {
  font-size: $font-size-small;
  color: $gray-base;
  width: 100%;
  margin-bottom: $line-height-computed / 3;
}

.listing__item-footer {
  margin-top: $line-height-computed / 2;
  overflow: hidden;
}

.listing__icon {
  color: $brand-primary;
  font-size: $font-size-large;
  position: relative;
  top: 2px;
}

.listing__header,
.listing__filters,
.listing__footer,
.listing__pagination {
  width: 100%;
}

.listing__filters {
  background-color: $gray-lighter;
  padding: 5px 10px;
}

.listing__pagination {
  text-align: center;
}

.listing__header {
  padding-top: 30px;
}

// Modifiers
// --------------------------------------------------
.listing--2-col-layout {
  @include make-row(15px);
  .listing__label {
    @include make-md-column(12);
  }
  .listing__item {
    @include make-md-column(6);
  }
}

.listing--3-col-layout {
  @include make-row($grid-gutter-width);
  .listing__label {
    @include make-md-column($grid-columns);
  }
  .listing__item {
    @include make-md-column($grid-columns / 3);
  }
}

.listing--sm-phone-media-hidding {
  .listing__item-media {
    @extend .hidden-xxs;
  }
}

.listing--media-above {
  .listing__item-media {
    max-width: none;
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
}

.listing--sm-phone-media-above {
  .listing__item-media {
    @media (max-width: $screen-xxs-max) {
      max-width: none;
      float: none;
      margin-right: 0;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
  }
}

.listing--phone-media-above {
  .listing__item-media {
    @media (max-width: $screen-xs-max) {
      max-width: none;
      float: none;
      margin-right: 0;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
  }
}

.listing--tablet-media-above {
  .listing__item-media {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      max-width: none;
      float: none;
      margin-right: 0;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
}

.listing--tabs-spacer {
  margin-top: -$line-height-computed * 1.666;
  .listing__label {
    margin-top: 0;
    padding-bottom: 0;
    border: none !important;
    overflow: hidden;
    &:before,
    &:after {
      content: none !important;
    }
    .btn {
      // z-index higher than in .tabs.
      position: relative;
      z-index: 2;
    }
  }
}

.listing--side-title {
  .listing__label,
  .title-more {
    border-bottom: none !important;
    &:before, &:after {
      content: none !important;
    }
  }
  @include breakpoint(tablet) {
    .listing__label,
    .title-more,
    .title-more__row,
    .title-more__col {
      display: block;
      padding: 0;
    }
    .title-more__row {
      @include arrow($gray-light, #fff, 'right', 'out', 25px, 30px);
      @include breakpoint(desktop) {
        margin-right: 25px;
      }
    }
    .title-more__col:first-child {
      margin-bottom: 20px;
    }
    .pull-right {
      float: none !important;
    }
  }
  &:not(.listing--2-col-layout):not(.listing--3-col-layout) {
    .listing__label,
    .title-more {
      @include make-sm-column(3);
      @include make-lg-column(2);
    }
    .listing__item {
      @include make-sm-column(9);
      @include make-lg-column(10);
      @include make-sm-column-offset(3);
      @include make-lg-column-offset(2);
    }
  }
  &.listing--2-col-layout {
    .listing__label,
    .title-more {
      @include make-sm-column(4);
      @include make-lg-column(2);
    }
    .listing__item {
      @include make-sm-column(4);
      @include make-lg-column(5);
      &:nth-of-type(2n+3) {
        @include make-sm-column-offset(4);
        @include make-lg-column-offset(2);
      }
    }
  }
  &.listing--3-col-layout {
    .listing__label,
    .title-more {
      @include make-sm-column(3);
    }
    .listing__item {
      @include make-sm-column(3);
      &:nth-of-type(3n+4) {
        @include make-sm-column-offset(3);
      }
    }
  }
}

.listing__label--small {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 30px;
  border: none;
  @extend .h3;

  .listing__label-col {
    padding: 0;
  }

  & + .listing__item {
    padding-top: 0 !important;
  }
}

// States
// --------------------------------------------------
@include breakpoint(desktop) {
  .listing__item-media {
    max-width: $listing-media-width-desktop;
    // max-height: $listing-media-height-desktop;
  }
}


// Dependencies
// --------------------------------------------------
.listing__label .btn {
  font-family: $font-family-sans-serif;
}

.listing--side-title {
  @include breakpoint(tablet) {
    .listing__label .btn {
      margin-top: 35px;
      float: none !important; // Reset all aligns
    }
  }
}


// Skins
// --------------------------------------------------
.listing--separators:not(.listing--2-col-layout) {
  .listing__item {
    border-bottom: 1px darken($gray-light, 1%) solid;
    padding-bottom: 30px;

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.listing--separators.listing--2-col-layout, {
  // In 2 col layout on small devices same as default.
  @media (max-width: $screen-sm-max) {
    .listing__item:not(:last-of-type) {
      border-bottom: 1px $gray-lighter solid;
      padding-bottom: 30px;
    }
  }

  // In 2 col layout on bigger devices change logic.
  @include breakpoint(tablet) {
    .listing__item:nth-of-type(odd):not(:nth-last-child(2)):not(:last-of-type),
    .listing__item:nth-of-type(even):not(:last-of-type)
     {
      border-bottom: 1px $gray-lighter solid;
      padding-bottom: 30px;
    }
  }
// TODO: Also for 3-col-layout
}

.listing--separators-dashed {
  .listing__item {
    border-bottom: 1px $gray-light dashed;
    padding-bottom: 30px;

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.listing--condensed {
  .listing__item {
    padding-top: 15px;
  }

  &.listing--separators,
  &.listing--separators-dashed {
    .listing__item {
      padding-bottom: 15px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.listing--condensed-lineheight {
  p {
    line-height: $line-height-computed - 4;
  }
}

.listing--image-corner-radius {
  .listing__item-media {
    border-bottom-left-radius: 30px;
  }
}
.listing--media-circle {
  .listing__item-media {
    @include circle();
  }
}

// Listing middle align
//
// Listing using Middle align component.
//
// Markup: html/listing--middle-align.html
//
// Styleguide listing.middle-align


// Component
// --------------------------------------------------
.listing--middle-align {
  .listing__item,
  .middle-align__row {
    width: 100%;
  }
}
