// Subscribe form
//
// Bootstrap form adjusted for better appearance and truely responsive web design.
//
// Markup: html/subscribe.html
//
// Styleguide subscribe

// Component
// --------------------------------------------------
.subscribe {
  display: inline-block;
  padding: 4px;
  background-color: $gray-lightest;
  border-radius: 4px;
  float: right;
  clear: right;
  width: 100%;
  text-align: center;

  & .form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  }
  .form-control {
    line-height: $line-height-computed;
    font-size: $font-size-small;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    @include placeholder($gray-light);
    border: 1px solid #d7d7d7;
    height: 30px;
  }
  .btn {
    font-size: $font-size-small;
    font-weight: 400;
    background-color: $gray-lightest;
    border: 1px solid #d7d7d7;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
