<div class="layout layout--4">

  <div class="layout__header-wrapper">
    <div class="container">
      <div class="middle-align middle-align--mobile-media-below">
        <div class="middle-align__row">
          <div class="layout__header middle-align__col">
            .layout__header
          </div>
          <div class="layout_header-sidebar middle-align__col text-right">
            .layout__header-sidebar
          </div>
        </div>
      </div>
    </div>
    <div class="layout__meta-wrapper">
      <div class="container">
        <div class="layout__meta">
          .layout__meta
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-equal-md">
      <div class="layout__content-wrapper col-sm-8">
        <div class="layout__content">
          <div class="row">
            <div class="layout__sidebar-left col-sm-3">
              .layout__sidebar-left
            </div>
            <div class="col-sm-9">
              .layout__content
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="layout__sidebar-right">
          .layout__sidebar-right
        </div>
      </div>
    </div>
  </div>

</div>
