// Form
//
// Form improvements.
//
// Styleguide form



// Validation states
//
// Markup:
// <div class="form-group has-success">
//   <label class="control-label" for="inputSuccess1">Input with success</label>
//   <input type="text" class="form-control" id="inputSuccess1">
// </div>
// <div class="form-group has-warning">
//   <label class="control-label" for="inputWarning1">Input with warning</label>
//   <input type="text" class="form-control" id="inputWarning1">
// </div>
// <div class="form-group has-error">
//   <label class="control-label" for="inputError1">Input with error</label>
//   <input type="text" class="form-control" id="inputError1">
// </div>
// <div class="has-success">
//   <div class="checkbox">
//     <label>
//       <input type="checkbox" id="checkboxSuccess" value="option1">
//       Checkbox with success
//     </label>
//   </div>
// </div>
// <div class="has-warning">
//   <div class="checkbox">
//     <label>
//       <input type="checkbox" id="checkboxWarning" value="option1">
//       Checkbox with warning
//     </label>
//   </div>
// </div>
// <div class="has-error">
//   <div class="checkbox">
//     <label>
//       <input type="checkbox" id="checkboxError" value="option1">
//       Checkbox with error
//     </label>
//   </div>
// </div>
//
// Styleguide form.states

form .error {
  @extend .has-error;
}

label {
  font-weight: $font-weight;
}

.checkbox {
  font-size: $font-size-small;
}

.input-group-addon {
  padding: 0;
}


// Form Submit
//
// Markup:
// <input class="btn btn-primary form-submit" type="submit" id="edit-submit" name="op" value="Submit">
//
// Styleguide form.submit

.form-actions.form-wrapper {
  text-align: center;
}

.form-submit {
  height: 42px;
  text-transform: uppercase;
}
