// List
//
// Markup: html/list.html
//
// Styleguide type.list
ul
  padding-left: 20px
  li
    padding-bottom: $line-height-computed / 3
    list-style: none
    position: relative

// Style elements only without any class - prevent affecting various components
ul:not(.dropdown):not(.contextual-links) li
  &:not([class]),
  &.first:not(.leaf):not(.expanded), &.last:not(.leaf):not(.expanded)
    &:before
      color: $brand-primary
      content: "\2022"
      padding-right: 15px
      font-size: 3em
      line-height: 1px
      position: absolute
      top: $line-height-computed / 2.5
      left: -20px
