<div class="control-line text-center">
  <p class="control-line-part-number text-center">01.</p>
  <p class="text-center">
    -----
  </p>
  <p class="control-line-part-text text-center">Introduction</p>

</div>
