  <div id="header-lead" class="center-block">
    <img class="center-block img-responsive" id="main-logo" src="../images/svg/logo_main.svg" alt="FOOD Logo" />
    <br />
    <p class="center-block">
      As you sit down to dinner tonight, take a look at your plate. Go backwards in time, imagining all the steps that it took for your food to get from its origin to your plate. Before the cooking, before the shopping, how was your food transported to the supermarket? How was it packaged in the factory? How was it processed in that factory? Before that, how was it brought to the factory? Where did it come from before that? Was it harvested or slaughtered? Then take a step even further back from there. What resources were used to raise your meat or grow your food? How much water was used to irrigate or feed these products? In the case of animals, how much food was needed to feed them? How much energy was used to keep them warm or to transport them?
    </p>
  </div>
