// Contact
//
// Contact details block separated by sections, with icon representing each
// information type. This component needs a clean up.
//
// Markup: html/contact.html
//
// .contact--listing - Show contact in two collumn layout (why it does not work in this example)
// .contact--map     - Show contact that also contains map element
//
// Styleguide contact


// Component
// --------------------------------------------------
.contact {
}


// Elements
// --------------------------------------------------
.contact__title {
  margin-bottom: $line-height-computed / 2;
  display: inline-block;
  div {
    display: inline;
  }
}
.contact__row {
  width: 100%;
  margin-bottom: $line-height-computed / 2;
  min-width: 290px;
  overflow: hidden;

  &:nth-child(2n-1) {
    clear: left;
  }
}

.contact__icon-col {
  float: left;
  width: 54px;
}

.contact__icon {
  color: $brand-primary;
  padding: 5px;
  margin-right: 20px;
  @include circle(transparent, 1px, $brand-primary);
  .icon {
    display: block;
    @include icon-size(20px);
  }
}

.contact__text {
  overflow: hidden;
  word-wrap: break-word;
  p {
    margin-bottom: 8px;
  }
}

.contact__field-inline {
  display: inline;
  margin-right: 5px;
  font-weight: bold;

  div {
    display: inline;
  }
}

.contact__map {
  width: 100%;
  float: left;
  overflow: hidden;
  margin: 0 0 30px;

  & + .contact {
    float: left;
  }
}

@include breakpoint(tablet) {
  .contact__map {
    width: 45%;
    margin-right: 30px;
  }
}

@include breakpoint(desktop) {
  .contact__map {
    width: 48%;
  }
}

.participant-details {
  width: 100%;
  padding: 15px 0 10px 0;

  &:not(:last-child) {
    border-bottom: 1px dashed $gray-lighter;
  }
}

.participant-country,
.participant-organisation {
  width: 100%;
  text-align: center;
  padding: 5px 15px;
}

.participant-country {
  padding: 5px 15px;
  background: $gray-lightest;
  margin-bottom: 5px;
}

@include breakpoint(desktop) {
  .participant-details {
    display: table;
    padding: 15px 0;
  }

  .participant-country,
  .participant-organisation {
    display: table-cell;
    vertical-align: middle;
  }

  .participant-country {
    width: 40%;
    text-align: right;
    margin: 0;
  }

  .participant-organisation {
    width: 60%;
    padding: 5px 0 5px 30px;
    text-align: left;
  }
}


// Modifiers
// --------------------------------------------------
.contact--listing {
  .contact {
    padding: 30px 0;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px $gray-lighter solid;
  }
  .contact__row {
    width: 100%;
    float: left;
    display: block;

    p {
      margin: 0;
    }
  }
  @include breakpoint(tablet) {
    .contact__row {
      width: 100%;
      margin-right: 0;
    }
  }
  @include breakpoint(desktop) {
    .contact__row {
      width: 48%;
      margin-right: 1%;
    }
  }
}

.contact--map {
  overflow: hidden;
  width: 100%;
}

.contact__title--branded {
  color: $brand-primary;
  font-weight: bold;
}
