// Description cloud
//
// Description text wrapped into cloud design.
//
// Markup: html/description-cloud.html
//
// .description-cloud--corner-radius - Rounded corner
//
// Styleguide description-cloud


// Component
// --------------------------------------------------
.description-cloud {
  position: relative;
}


// Elements
// --------------------------------------------------
.description-cloud__polygon {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 20px solid $almost-white;
  border-bottom: 20px solid transparent;
}

.description-cloud__content {
  font-size: $font-size-small;
  padding: $line-height-computed * 0.75 / 3 15px;
  display: inline-block;
  margin-left: 20px;
  background-color: $almost-white;

  p, .links {
    margin: 0;
  }
  .boxes-box-controls {
    position: absolute; // Box module edit links fix.
  }
}


// Skins
// --------------------------------------------------
.description-cloud--corner-radius {
  .description-cloud__content {
    border-bottom-left-radius: 10px;
  }
}
