// Text engagement
//
// A primary highlighted element to pay users attention. Perfect for call for action or slogan.
//
// Markup: html/engagement.html
//
// Styleguide engagement


// Component
// --------------------------------------------------
.engagement {
  padding: 20px 0;

   @include breakpoint(tablet) {
    padding: 30px 0 25px;
   }

   @include breakpoint(desktop) {
    padding: 25px 0 55px;
  }
}


// Elements
// --------------------------------------------------
.engagement__text {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-h2;

  @include breakpoint(tablet) {
    font-size: $font-size-h1;
  }
}

.engagement h1 { // Hack in case when user delete tag class with WYSiWYG editor.
  @extend .engagement__text;
}


// Modifiers
// --------------------------------------------------
.engagement--with-symbol {
  // This modifier uses another markup.
  .engagement__text,
  &.engagement__text {
    font-size: 45px;
    line-height: 25px;
    font-weight: $font-weight;
    color: $brand-primary;
  }
  .middle-align {
    margin: 0 auto;
  }
  .middle-align__col {
    text-align: center;
  }
  .engagement__symbol {
    @include circle($brand-primary);
    @include icon-size(60px);
    color: #fff;
    margin-right: 15px !important;
  }
  small {
    text-transform: none;
    font-size: 20.5px;
  }
  @include breakpoint(phone) {
    .engagement__text,
    &.engagement__text {
      font-size: 45px;
      line-height: 25px;
    }
    small {
      font-size: 20.5px;
    }
  }

  @include breakpoint(tablet) {
    .engagement__text,
    &.engagement__text {
      font-size: $font-size-base * 4.5;
      line-height: $font-size-base * 2.25;
    }
    .engagement__symbol {
      @include icon-size(100px);
    }
    small {
      font-size: $font-size-base * 2;
    }
  }
}
