// Map
//
// Map with navigation form and legend.
//
// Styleguide map

// Component
// --------------------------------------------------
.map {

}

// Elements
// --------------------------------------------------
.map__switcher {
  line-height: 55px;
  &:not(:last-of-type) {
    margin-right: 20px;
  }
}

.map__switcher-link {
  color: $gray-base;
}

.map__switcher-icon {
  @include circle(transparent, 2px, $gray-light);
  color: $gray-light;
  text-align: center;
  width: 55px;
  height: 55px;
  display: block;
  float: left;
  margin-right: 10px;
}

// Dependencies
// --------------------------------------------------
.map__form .form-control {
  margin-right: 40px;
}

.map__switcher-icon .icon {
  @include icon-size(35px);
  line-height: 55px;
}

// States
// --------------------------------------------------
.map__switcher-link.is-active,
.map__switcher-link:hover {
  text-decoration: none;
  .map__switcher-icon {
    border-color: $brand-primary-light;
    color: $brand-primary-light;
  }
}
