// Middle align
//
// Set of rows where content of all collums is vertically centered, no matter is it a text or media.
//
// Markup: html/middle-align.html
//
// .middle-align--mobile-media-below - One collumn layout on mobile
// .middle-align--paddings - More space around the element
// .middle-align--condensed - Condensed space between collumns
//
// Styleguide midle-align


// Component
// --------------------------------------------------
.middle-align {
  @include middle-align();
}


// Elements
// --------------------------------------------------
.middle-align__row {
  // Row settings inherit from mixin
}

.middle-align__col {
  // Col settings inherit from mixin
}


// Modifiers
// --------------------------------------------------
.middle-align--mobile-media-below {
  .middle-align__col {
    display: block;
    text-align: center;
    padding-right: 0;
    .middle-align__media {
      width: 100%;
    }
  }

  @include breakpoint(desktop) {
    .middle-align__col {
      display: table-cell;
      &:not(:last-child) {
        padding-right: 30px;
      }
      .middle-align__media {
        width: auto;
      }
    }
  }
}

.middle-align--paddings {
  padding: 25px 0;
  @include breakpoint(tablet) {
    padding: 30px 0;
  }
  @include breakpoint(desktop) {
    padding: 40px 0;
  }
}

.middle-align--condensed {
  .middle-align__col:not(:last-child) {
    padding-right: 5px;
  }
}


// Dependencies
// --------------------------------------------------
//
.middle-align {
  h2 {
    border: none;
  }
}
