// Simple breadcrumb
//
// Floating link element. Look at the side of this page.
//
// Markup: html/simple-breadcrumb.html
//
// Styleguide simple-breadcrumb


// Component
// --------------------------------------------------
.simple-breadcrumb {
  list-style: none;
  margin: 0;
  padding: $breadcrumb-padding-vertical 0;
  font-size: $font-size-small;
}


// Elements
// --------------------------------------------------
.simple-breadcrumb__item {
  display: inline-block;
  color: $breadcrumb-color;

  + .simple-breadcrumb__item:before {
    content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
    padding: 0 5px;
  }
}

.simple-breadcrumb__link {
  color: $breadcrumb-color;
}


// States
// --------------------------------------------------
.simple-breadcrumb__link:hover {
  color: darken($breadcrumb-color, 25%);
}
