// Single page
//
// Universal single page layout.
//
// Markup: html/single-page.html
//
// Styleguide single-page


// Component
// --------------------------------------------------
.single-page {
}


// Elements
// --------------------------------------------------
.single-page__header {
   margin-bottom: $line-height-computed / 2;
}

.single-page__media {
  margin-bottom: $line-height-computed / 2;
  * {
    width: 100%;
    height: auto !important;
  }
}

.single-page__footer {
  > .field {
    display: table;
    width: 100%;
    padding: 15px 0 10px 0;

    &:not(:last-child) {
      border-bottom: 1px dashed $gray-lighter;
    }

    > .field-label {
      background: $gray-lightest;
      margin-bottom: 5px;
    }

    > .field-label,
    > .field-items {
      width: 100%;
      padding: 5px 15px;
      text-align: center;
    }

    > .field-items {
      float: none; //fix for date field which has two levels of this item
    }
  }
}

@include breakpoint(tablet) {
  .single-page__media {
    float: left;
    margin-right: 30px;
    div {
      float: left;
    }
  }
}

@include breakpoint(desktop) {
  .single-page__footer {
    > .field {
      display: table;
      padding: 15px 0;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      > .field-label {
        width: 35%;
        padding: 5px 15px;
        text-align: right;
        margin: 0;
      }

      > .field-items {
        width: 65%;
        padding: 5px 0 5px 30px;
        text-align: left;
        float: left;
      }
    }
  }
}
